<!DOCTYPE html>
<html>
    <head>
		<title>Major project_display page</title>
        <link rel="stylesheet" href="static/css/style_about.css">
    </head>
    <body>
	    <div class="main">
		<div class="content">
        <caption><h1> About </h1></caption>
                <h3>This project consists of a service-oriented web application which integrates the local suppliers of automobile parts and the local repair and service garage owners with the users (the customers) under a single roof.
                    This is done by first registering the user with proper details and then registering the parts and services related to the same. Then, the user can be both Customer or Supplier. When each time a customer wants to avail the same, user login will be required and the same goes for registering new part or a service for supplier login. An OTP authentication system is also added to the login process.
                    </h3>
                    <a href="{{url_for('next_Response2')}}">Back</button></a>
		</div>
		</div>
    </body>
</html>