<!DOCTYPE html>
<html>
    <head>
		<title>Major project_display page</title>
        <link rel="stylesheet" href="static/css/style_about.css">
    </head>
    <body>
	    <div class="main">
		<div class="content">
        <caption><h1> Contact Info </h1></caption>
                <h3>This project is made by :
                    
                    1. Aniruddha Patil :-
                       mobile number - 9136268840
                       mail id - patilaniruddha@kccemsr.edu.in

                    2. Sangharaj Sasane :-
                       mobile number - 7777091570
                       mail id - sangharajsasane@kccemsr.edu.in
                    </h3>
                    <a href="{{url_for('next_Response2')}}">Back</button></a>
		</div>
		</div>
    </body>
</html>