<!DOCTYPE html>
<html lang="en">
<head>
    <title>Major project_services page</title>
    <!--link rel="stylesheet" href="static/css/style_main.css"-->
</head>
    <div class="form">
        <form method="post" action="http://localhost:5000/next_Response11">
        <h2> Choose product or service: </h2>
        <table>
            <tr><th style= "padding:15px;">PRODUCTS</th>
                <th style= "padding:15px;">PRODUCT IMAGES</th>
                <th style= "padding:15px;">SERVICES</th>
                <th style= "padding:15px;">SERVICE IMAGES</th>
            </tr>
            {% for sub_data in data1 %}
                    <tr>
                    <td style= "padding:15px;">{{sub_data[0]}}</td>
                    <td style= "padding:15px;"><img src={{sub_data[2]}} width = "120" height = "90"/></td>
                    <td style= "padding:15px;">{{sub_data[1]}}</td>
                    </tr>
            {% endfor %}
        </table>
        <div class="menu">
            <ul>
                <li><a href="{{url_for('next_Response3')}}">HOME</button></a></li>
                <li><a href="{{url_for('next_Response4')}}">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>  
                <li><a href="#">JOIN US</a></li>
            </ul>
        </div>
        </form>
    </div>

    {% if error %}  
    <p><strong>Error</strong>: {{error}}</p>  
    {% endif %}
</body>
</html>
<!--code by Aniruddha -->