<!DOCTYPE html>
<html>
    <head>
        <title>Form site</title>
		<script type="text/javascript">
			function preventBack() {
				window.history.forward(); 
			}
			  
			setTimeout("preventBack()", 0);
			  
			window.onunload = function () { null };
		</script>
		<title>Major project_display page</title>
        <link rel="stylesheet" href="static/css/style_display.css">
    </head>
    <body>
	    <div class="main">
		<div class="content">
        <caption><h2> Student Details </h2></caption>
                <h3>Username : </h3>
                {{uname}}
                <h3>E-Mail : </h3>{{email}}
                <h3>Mobile Number : </h3>
                {{mobile}}
		</div>
		</div>
    </body>
</html>