<!DOCTYPE html>
<html lang="en">
<head>
    <title>Major project_User page</title>
    <link rel="stylesheet" href="static/css/style_option.css">
</head>
<div class="form">
    <form method="post" action="http://localhost:5000/next_Response12">
    <button class="cn" type="submit" value="Customer"><a>CUSTOMER</a></button>
    </form>
</div>
<br><br>
<div class="form">
    <form method="post" action="http://localhost:5000/next_Response11">
    <button class="cn" type="submit" value="Supplier"><a>SUPPLIER</a></button>
    </form>
</div>

    {% if error %}  
    <p><strong>Error</strong>: {{error}}</p>  
    {% endif %}
</body>
</html>
<!--code by Aniruddha -->