<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
			function preventBack() {
				window.history.forward(); 
			}
			  
			setTimeout("preventBack()", 0);
			  
			window.onunload = function () { null };
		</script>
        <title>Major Project_reg page</title>
		<!--link rel="stylesheet" href="static/css/style_registration.css"-->
    </head>
    <body>
	<div class="main">
        <form method="post" action="http://localhost:5000/next_Response1">
            <caption> Registration Form </caption>
            <div class="content">
                Username : 
                <input type="text" name="username" placeholder="Enter Username" required>
                Password : 
                <input type="password" name="password" placeholder="Enter Password" required>
                E-Mail : <input type="email" name="email" placeholder="Enter Email" required>
                Mobile Number : 
                    <input type="number" name="mobile" placeholder="Enter Mobile Number" required>
                    <button class="cn" type="submit" value="Submit" onclick="flashMessage()"><a>Submit</a></button>
			</div>
        </form>
	</div>
	{% if error %}  
    <p><strong>Error</strong>: {{error}}</p>  
	{% endif %}  
    </body>
</html>