<!DOCTYPE html>
<html lang="en">
<head>
    <title>Major project_main page</title>
    <!--link rel="stylesheet" href="static/css/style_main.css"-->
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"><marquee>SpeeDTricK</marquee></h2>
            </div>

        </div> 
        <div class="content">
                <table>
                    <tr><th style= "padding:15px;">PRODUCTS</th>
                        <!--th style= "padding:15px;">PRODUCT IMAGES</th-->
                        <th style= "padding:15px;">SERVICES</th>
                        <!--th style= "padding:15px;">SERVICE IMAGES</th-->
                    </tr>
                    {% for sub_data in data1 %}
                            <tr>
                                <script>document.write(sub_data[3])</script>
                                <td style= "padding:15px;">{{sub_data[0]}}</td>
                                <!--td style= "padding:15px;"><img src="data:image/jpg;base64,{sub_data[3]}" width = "120" height = "90" alt="Image1"/>
                                </td-->
                                <td style= "padding:15px;">{{sub_data[1]}}</td>
                                <!--td style= "padding:15px;"><img src="data:image/jpg;base64,{sub_data[4]}" width = "120" height = "90" alt="Image2"/></td-->
                            </tr>
                    {% endfor %}
                </table>
                <br><br>
                <div class="menu">
                    <ul>
                        <li><a href="{{url_for('next_Response3')}}">HOME</button></a></li>
                    </ul>
                </div>

                <div class="form">
				    <form method="post" action="http://localhost:5000/next_Response8">
                    <h2>Add products Here</h2>
                    <input type="text" name="products" placeholder="Enter Product Here">
                    <!--input type="file" name="image"-->
                    <button class="cn" type="submit" value="Submit1"><a>Submit</a></button>
					</form>
                </div>

                <div class="form">
				    <form method="post" action="http://localhost:5000/next_Response9">
                    <h2>Add services Here</h2>
                    <input type="text" name="services" placeholder="Enter Service Here">
                    <!--input type="file" name="image"-->
                    <button class="cn" type="submit" value="Submit2"><a>Submit</a></button>
					</form>
                </div>
                <br><br>

                
        </div>
    </div>
    {% if error %}  
    <p><strong>Error</strong>: {{error}}</p>  
	{% endif %}
</body>
</html>
<!--code by Aniruddha -->