<!DOCTYPE html>
<html lang="en">
<head>
    <title>Major project_main page</title>
    <!--link rel="stylesheet" href="static/css/style_main.css"-->
</head>
<table>
    <tr><th style= "padding:15px;">PRODUCTS</th>
        <th style= "padding:15px;">SERVICES</th>
    </tr>
    <tr>
    <td style= "padding:15px;">ABC1</td>
    <td style= "padding:15px;"><img src="C:\Users\ANIRUDDHA\Major_Project\BE-Major-Project\static\images\products/clutch.jpg"></td>
    </tr><tr>
    <td style= "padding:15px;">ABC3</td>
    <td style= "padding:15px;">ABC4</td>
    </tr>
</body>
</html>
<!--code by Aniruddha -->